/vendor/
/node_modules/
/composer.lock
/composer.phar
/phpunit.xml
/.phpunit.result.cache
/.phpunit.cache
/.idea
/.vagrant
/.env
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
*.log
build/
.php-cs-fixer.cache
coverage/
.phpcs.cache
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
